@use "../abstracts" as *;

.about-container {
  padding-inline: var(--size-8);
  padding-block: var(--size-10);

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

// Hero Content
.hero-content {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--size-9);
  align-items: center;
  text-align: center;

  @media (min-width: 768px) {
    width: 50%;
    padding-right: var(--size-9);
    align-items: flex-start;
    text-align: left;
  }

  @media (min-width: 1024px) {
    flex-grow: 1;
    padding-right: 6rem;
    margin-bottom: 0;
  }
}

.hero-title {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
  margin-bottom: var(--size-3);
  font-weight: var(--font-weight-5);

  @media (min-width: 640px) {
    font-size: 2.25rem; /* 36px */
    line-height: 2.5rem; /* 40px */
  }
}

.hero-title-sub {
  display: inline-block;
}

.hero-text {
  margin-bottom: var(--size-7);
  line-height: 1.625;
}

// Hero Image
.hero-image {
  /* width: 83.333333%; */

  @media (min-width: 768px) {
    /* width: 50%; */
  }

  @media (min-width: 1024px) {
    // width: 100%;
    /* max-width: 32rem; */
  }
}

/* .hero-image__img {
  background-size: cover;
  background-position: center;
  border-radius: var(--radius-2);
} */
